body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  border: 2px solid red;
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
p {
  border: 2px solid blue;
  width: 80%;
  /* padding: 0px 25px; */
}
button {
  background-color: rgb(202, 32, 32);
  color: white;
  font-weight: bold;
  padding: 2px 20px;
  border: none;
}

