* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: black;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-image: url("./images/Beautiful\ Landscape\ Artistic.jfif");
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat; */
}

form {
  backdrop-filter: blur(8px);
  border: 3px solid white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80vh; */
  padding: 3rem 0;
}

div {
  border: 1px solid rgb(48, 48, 252);
  flex-shrink: 1;
  display: flex;
  width: 80%;
  margin-top: 1.8rem;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  justify-content: space-around;
  box-shadow: 1px 1px 8px rgb(92, 91, 91);
}

div img {
  width: 100%;
  max-width: 85px;
  border: 1px solid rgb(182, 180, 180);
  border-radius: 10px;
  cursor: pointer;
  height: 80%;
  padding: 0px 0.6rem;
}
/* div img:first-child {
} */

i {
  font-size: 4rem;
}
fieldset {
  width: 80%;
  margin-bottom: em;
  padding: 1rem 0 0 0;
  border: transparent;
}
input {
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  padding: 0.6rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  /* color: black; */
}
.forget {
  margin-left: auto;
  margin-right: 2.5rem;
}

button {
  width: 80%;
  padding: 0.8rem 0;
  background-color: rgb(48, 48, 252);
  border: 1px solid white;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
    max-width: 300px;
  }

  .forget {
    margin-right: 1.5rem;
  }

  div img {
    width: 100%;
    max-width: 62px;
    padding: 0 0.3rem;
  }
}

@media screen and (max-width: 300px) {
  form {
    width: 100%;
    max-width: 280px;
  }

  .forget {
    margin-right: 1.5rem;
  }

  p {
    white-space: normal;

    font-size: 0.6rem;
    text-align: center;
    width: 100%;
    max-width: 220px;
    /* max-width: 180px; */
  }

  div {
    width: 100%;
    max-width: 200px;
    padding: 0 0.3rem;
  }

  div img {
    width: 100%;
    max-width: 58px;
  }
}



